h1{
    color: palevioletred;

}
nav a {
    border: 2px solid pink;
    text-decoration: none;
    color: red;
}
form {
    background-color: pink;
    display: inline-block;
    border-radius: 15px;
}